services:
  # The Nginx Reverse Proxy Service
  nginx:
    build:
      context: ../rpi-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - rpi-network
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    # The Nginx service depends on the Next.js app and the other APIs to be running.
    depends_on:
      - metaforiq-next
      - metaforiq-node

  # The Node.js API Service
  metaforiq-node:
    build:
      context: ../metaforiq-node
    restart: unless-stopped
    env_file:
      - ./metaforiq-node.env
    networks:
      - rpi-network
    volumes:
      - metaforiq-node-data:/app

  # The Next.js App Service
  metaforiq-next:
    build:
      context: ../metaforiq-next
    restart: unless-stopped
    env_file:
      - ./metaforiq-next.env
    networks:
      - rpi-network

# Define a private bridge network for your services to communicate.
networks:
  rpi-network:
    driver: bridge

# Define the named volume. Docker will manage this volume and its data.
volumes:
  metaforiq-node-data:
