services:
  # The Nginx Reverse Proxy Service
  nginx:
    image: emb417/rpi-nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - rpi-network
    volumes:
      - ./certbot/conf:/etc/letsencrypt:ro
    depends_on:
      - metaforiq-next
      - metaforiq-node
      - planka
      - trilium
      - open-webui

  # The Certbot Service
  certbot:
    image: certbot/dns-cloudflare
    restart: always
    networks:
      - rpi-network
    volumes:
      - ./cloudflare:/etc/cloudflare
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    logging: *default-logging
    deploy:
      resources:
        limits:
          memory: 32M

  # The Node.js API Service
  metaforiq-node:
    image: emb417/metaforiq-node:latest
    restart: always
    env_file:
      - ./metaforiq-node.env
    networks:
      - rpi-network
    volumes:
      - metaforiq-node-data:/app/data

  # The Next.js App Service
  metaforiq-next:
    image: emb417/metaforiq-next:latest
    restart: always
    env_file:
      - ./metaforiq-next.env
    networks:
      - rpi-network

  # The Planka Kanban Board Trello Clone
  planka:
    image: ghcr.io/plankanban/planka:latest
    restart: always
    env_file:
      - ./planka.env
    depends_on:
      - planka-db
    networks:
      - rpi-network
    volumes:
      - ~/planka-data/uploads:/app/public/user-avatars
      - ~/planka-data/attachments:/app/public/project-attachments

  planka-db:
    image: postgres:15
    restart: always
    env_file:
      - ./planka-db.env
    networks:
      - rpi-network
    volumes:
      - ~/planka-data/db:/var/lib/postgresql/data

  # The Trilium personal knowledge management service
  trilium:
    image: triliumnext/trilium:latest
    restart: always
    networks:
      - rpi-network
    volumes:
      - ~/trilium-data:/home/node/trilium-data
    environment:
      - TRILIUM_DATA_DIR=/home/node/trilium-data

  # The Open WebUI Service
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    restart: always
    env_file:
      - ./open-webui.env
    networks:
      - rpi-network
    volumes:
      - open-webui-data:/app/backend/data

# Define an external network for your services to communicate.
networks:
  rpi-network:
    external: true

# Define an external volume for data persistence.
volumes:
  metaforiq-node-data:
    external: true
  open-webui-data: