services:
  # The Nginx Reverse Proxy Service
  nginx:
    build:
      context: ../rpi-nginx
    container_name: rpi-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - rpi-network
    volumes:
      # This mount tells Nginx to use your local, non-SSL configuration.
      - ../rpi-nginx/sites-available/default-local.conf:/etc/nginx/sites-enabled/default.conf
    # The Nginx service depends on the Next.js app and the other APIs to be running.
    depends_on:
      - metaforiq-next
      - metaforiq-node
      - vpc-data-api
      - vps-data-api
      - vpc-next

  # The Node.js API Service
  metaforiq-node:
    build:
      context: ../metaforiq-node
    container_name: metaforiq-node
    restart: unless-stopped
    env_file:
      - ./metaforiq-node.env
    networks:
      - rpi-network
    volumes:
      - metaforiq-node-data:/app

  # The Next.js App Service
  metaforiq-next:
    build:
      context: ../metaforiq-next
    container_name: metaforiq-next
    restart: unless-stopped
    env_file:
      - ./metaforiq-next.env
    networks:
      - rpi-network
  
  # The VPC Data API Service
  vpc-data-api:
    build:
      context: ../vpc-data-api
    container_name: vpc-data-api
    restart: unless-stopped
    env_file:
      - ./vpc-data-api.env
    networks:
      - rpi-network

  # The VPS Data API Service
  vps-data-api:
    build:
      context: ../vps-data-api
    container_name: vps-data-api
    restart: unless-stopped
    networks:
      - rpi-network

# Define a private bridge network for your services to communicate.
networks:
  rpi-network:
    driver: bridge

# Define the named volume. Docker will manage this volume and its data.
volumes:
  metaforiq-node-data:
