services:
  # The Nginx Reverse Proxy Service
  nginx:
    image: emb417/rpi-nginx:latest
    container_name: rpi-nginx
    restart: always
    ports:
      # Expose HTTP and HTTPS to the public internet.
      - "80:80"
      - "443:443"
    networks:
      - rpi-network
    volumes:
      # Mount the SSL certificates from the host machine for HTTPS.
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      # Nginx must wait for the web and API services to be ready.
      - metaforiq-next
      - metaforiq-node
      - vpc-data-api
      - vps-data-api
      - silverbullet
      - vikunja

  # The Node.js API Service
  metaforiq-node:
    image: emb417/metaforiq-node:latest
    container_name: metaforiq-node
    restart: always
    env_file:
      - ./metaforiq-node.env
    networks:
      - rpi-network
    volumes:
      - metaforiq-node-data:/app/data

  # The Next.js App Service
  metaforiq-next:
    image: emb417/metaforiq-next:latest
    container_name: metaforiq-next
    restart: always
    env_file:
      - ./metaforiq-next.env
    networks:
      - rpi-network

  # The VPC Data API Service
  vpc-data-api:
    image: emb417/vpc-data-api:latest
    container_name: vpc-data-api
    restart: always
    env_file:
      - ./vpc-data-api.env
    networks:
      - rpi-network

  # The VPS Data API Service
  vps-data-api:
    image: emb417/vps-data-api:latest
    container_name: vps-data-api
    restart: always
    networks:
      - rpi-network

  # Silverbullet Notes Service
  silverbullet:
    image: ghcr.io/silverbulletmd/silverbullet:latest
    container_name: silverbullet
    restart: always
    networks:
      - rpi-network
    env_file:
      - silverbullet.env
    volumes:
      - ~/silverbullet-data:/space

  vikunja:
    image: vikunja/vikunja:latest
    container_name: vikunja
    restart: always
    env_file:
      - vikunja.env
    networks:
      - rpi-network
    volumes:
      - ~/vikunja-data:/app/vikunja/files

# Define an external network for your services to communicate.
networks:
  rpi-network:
    external: true

# Define an external volume for data persistence.
volumes:
  metaforiq-node-data:
    external: true