x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "14"

services:
  # The Nginx Reverse Proxy Service
  nginx:
    build:
      context: ../rpi-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - rpi-network
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    # The Nginx service depends on the Next.js app to be running.
    depends_on:
      - metaforiq-next
    logging: *default-logging

  # The Node.js Discord Bot Service
  libowski-bot:
    build:
      context: ../libowski-bot
    restart: unless-stopped
    env_file:
      - ./libowski-bot-test.env
    networks:
      - rpi-network
    volumes:
      - ./libowski-bot-data:/app/data
    logging: *default-logging

  # The Next.js App Service
  metaforiq-next:
    build:
      context: ../metaforiq-next
    restart: unless-stopped
    env_file:
      - ./metaforiq-next.env
    networks:
      - rpi-network
    logging: *default-logging

networks:
  rpi-network:
    driver: bridge

